---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.create
    body:
      encoding: UTF-8
      string: name=vcr-test-1719288455&is_private=false
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 97531abcdef
      X-Oauth-Scopes:
      - chat:write,channels:read,channels:write,users:read
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-iad2
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C12345678","name":"vcr-test-1719288455","is_channel":true,"is_group":false,"is_im":false,"created":1719288455,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"vcr-test-1719288455","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"TJYFMDGA3","updated":1719288455,"parent_conversation":null,"creator":"U08RW7MHUG6","is_ext_shared":false,"shared_team_ids":["TJYFMDGA3"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":1}}'
  recorded_at: Wed, 25 Jun 2025 02:47:35 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.archive
    body:
      encoding: UTF-8
      string: channel=C12345678
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 86420abcdef
      X-Oauth-Scopes:
      - chat:write,channels:read,channels:write,users:read
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-iad2
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Wed, 25 Jun 2025 02:47:40 GMT
recorded_with: VCR 6.3.1
