---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.create
    body:
      encoding: US-ASCII
      string: name=vcr-archive-test-1750836811&is_private=false
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - cce1a7e43d6da2c974fd6e1596485782
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,users:read,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFumS-FKYnprRtf8d8YYbgAAABk
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-sicc
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C092X0CC2TF","name":"vcr-archive-test-1750836811","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1750836811,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"vcr-archive-test-1750836811","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"TJYFMDGA3","updated":1750836811648,"parent_conversation":null,"creator":"U02V6STDTLP","is_ext_shared":false,"shared_team_ids":["TJYFMDGA3"],"pending_connected_team_ids":[],"is_member":true,"last_read":"0000000000.000000","topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"priority":0}}'
  recorded_at: Wed, 25 Jun 2025 07:33:31 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.archive
    body:
      encoding: US-ASCII
      string: channel=C092X0CC2TF
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 9af907699711ac4a6f69591cd9865c88
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,users:read,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFumTGCxBY59j9X0vgyi4AAAEBg
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-piqb
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Wed, 25 Jun 2025 07:33:32 GMT
recorded_with: VCR 6.3.1
