---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.create
    body:
      encoding: US-ASCII
      string: name=vcr-test-1719288455&is_private=false
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2811cec38d72f43025e092cf32bbd963
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFufbXXcFsDUmq1YP8SqggAAkBI
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-opef
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C092WRKQWG5","name":"vcr-test-1719288455","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1750835053,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"vcr-test-1719288455","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"TJYFMDGA3","updated":1750835053934,"parent_conversation":null,"creator":"U02V6STDTLP","is_ext_shared":false,"shared_team_ids":["TJYFMDGA3"],"pending_connected_team_ids":[],"is_member":true,"last_read":"0000000000.000000","topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"priority":0}}'
  recorded_at: Wed, 25 Jun 2025 07:04:14 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.archive
    body:
      encoding: US-ASCII
      string: channel=C092WRKQWG5
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 66f5399adabab73e3274d7537f2a64af
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFufbtN6zluR8N9TVoJrHwAAoAg
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-omhf
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Wed, 25 Jun 2025 07:04:14 GMT
recorded_with: VCR 6.3.1
