---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.create
    body:
      encoding: US-ASCII
      string: name=vcr-invite-test-1750836515&is_private=false
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2a69d099b7afc5ded4df4b6d6b958a43
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,users:read,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFulI5ABEGDBD5SlmOV4tgAAABQ
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ejso
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C092YH4FEV8","name":"vcr-invite-test-1750836515","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1750836515,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"vcr-invite-test-1750836515","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"TJYFMDGA3","updated":1750836515393,"parent_conversation":null,"creator":"U02V6STDTLP","is_ext_shared":false,"shared_team_ids":["TJYFMDGA3"],"pending_connected_team_ids":[],"is_member":true,"last_read":"0000000000.000000","topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"priority":0}}'
  recorded_at: Wed, 25 Jun 2025 07:28:35 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.invite
    body:
      encoding: US-ASCII
      string: channel=C092YH4FEV8&users=UN8BCP1F1
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 4a725ea95d8ab0755d0e556eee1057b6
      Content-Type:
      - application/json; charset=utf-8
      X-Acce[...]
- request:
    method: post
    uri: https://slack.com/api/conversations.archive
    body:
      encoding: US-ASCII
      string: channel=C092YH4FEV8
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 7f6c95dc781bf15d66cebcc877406dfa
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Oauth-Scopes:
      - identify,users:read,channels:write,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFulJJ0dBrpIjprN2G9aBwAAIAY
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-poni
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: '{"ok":true}'
  recorded_at: Wed, 25 Jun 2025 07:28:36 GMT
recorded_with: VCR 6.3.1
