---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 24680abcdef
      X-Oauth-Scopes:
      - chat:write,channels:read,channels:write,users:read
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-iad2
    body:
      encoding: UTF-8
      string: '{"ok":true,"members":[{"id":"U08RW7MHUG6","team_id":"TJYFMDGA3","name":"user.name","deleted":false,"color":"bb86b7","real_name":"ユーザー
        サンプル","tz":"Asia/Tokyo","tz_label":"Japan Standard Time","tz_offset":32400,"profile":{"title":"","phone":"","skype":"","real_name":"ユーザー
        サンプル","real_name_normalized":"ユーザー サンプル","display_name":"ユーザー サンプル","display_name_normalized":"ユーザー
        サンプル","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"g082520283c2","image_24":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-24.png","image_32":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-32.png","image_48":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-48.png","image_72":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-72.png","image_192":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-192.png","image_512":"https://secure.gravatar.com/avatar/082520283c26e8b0d1ae93797d7502b7.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-512.png","team":"TJYFMDGA3"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":true,"is_ultra_restricted":true,"is_bot":false,"is_app_user":false,"updated":1747134377,"is_email_confirmed":true,"who_can_share_contact_card":"EVERYONE"},{"id":"USLACKBOT","team_id":"TJYFMDGA3","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https://a.slack-edge.com/80588/img/slackbot_24.png","image_32":"https://a.slack-edge.com/80588/img/slackbot_32.png","image_48":"https://a.slack-edge.com/80588/img/slackbot_48.png","image_72":"https://a.slack-edge.com/80588/img/slackbot_72.png","image_192":"https://a.slack-edge.com/80588/img/slackbot_192.png","image_512":"https://a.slack-edge.com/80588/img/slackbot_512.png","team":"TJYFMDGA3"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":0}],"cache_ts":1719288450,"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 25 Jun 2025 02:47:30 GMT
recorded_with: VCR 6.3.1
