---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_API_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - '035935d765d8770e6aa68a840e2f16eb'
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - users:read,chat:write,files:write,channels:manage,groups:write,im:write,mpim:write
      X-Slack-Unique-Id:
      - aFuTFZ3z3TIvKsg1fVY3kgAAkDw
      X-Slack-Backend:
      - r
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-pmpp
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","name":"slackbot","is_bot":false,"updated":0,"is_app_user":false,"team_id":"TJYFMDGA3","deleted":false,"color":"757575","is_email_confirmed":false,"real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Slackbot","display_name":"Slackbot","avatar_hash":"sv41d8cd98f0","real_name_normalized":"Slackbot","display_name_normalized":"Slackbot","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","first_name":"slackbot","last_name":"","team":"TJYFMDGA3","title":"","phone":"","skype":"","fields":{},"status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"always_active":true}},{"id":"UJSF9T2D8","name":"tomoya_mori","is_bot":false,"updated":1750806794,"is_app_user":false,"team_id":"TJYFMDGA3","deleted":false,"color":"4bbe2e","is_email_confirmed":true,"real_name":"Tomoya
        Mori","tz":"Asia\/Tokyo","tz_label":"Japan Standard Time","tz_offset":32400,"is_admin":true,"is_owner":true,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Tomoya
        Mori","display_name":"\u68ee\u3000\u667a\u4e5f\u300025\u4ee3\u4f11","avatar_hash":"a4cbfd7d9e52","real_name_normalized":"Tomoya
        Mori","display_name_normalized":"\u68ee\u3000\u667a\u4e5f\u300025\u4ee3\u4f11","image_24":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_1024.png","image_original":"https:\/\/avatars.slack-edge.com\/2019-08-15\/729627727334_a4cbfd7d9e52fd7f4a9d_original.png","is_custom_image":true,"first_name":"Tomoya","last_name":"Mori","team":"TJYFMDGA3","title":"\u7ba1\u7406\u90e8\u9577","phone":"070-3767-5906\uff08\u68ee\u304c\u6240\u6301\u306e\u7ba1\u7406\u643a\u5e2f\uff09070-2808-7669\uff08\u7ba1\u7406\u90e8\u5171\u6709\u306e\u305f\u3081\u51fa\u793e\u6642\u306e\u307f\u5bfe\u5fdc\u53ef\uff09","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":1737385199,"huddle_state":"default_unset","huddle_state_expiration_ts":0}},{"id":"UJSG52W83","name":"sugimoto001","is_bot":false,"updated":1750827601,"is_app_user":false,"team_id":"TJYFMDGA3","deleted":false,"color":"e96699","is_email_confirmed":true,"real_name":"Sugimoto\u3000Tatsuhiko","tz":"Asia\/Tokyo","tz_label":"Japan
        Standard Time","tz_offset":32400,"is_admin":true,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Sugimoto\u3000Tatsuhiko","displa[...]
