name: Build and Commit Gem

on:
  push:
    branches:
      - main

jobs:
  build-and-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"

      - name: Build gem
        run: gem build crs-slack-client.gemspec

      - name: Commit and push .gem file
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add *.gem
          git commit -m "Add built gem [skip ci]" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # リリースタグを設定する
      - name: Create release tag
        run: |
          git tag -a "v$(ruby -e 'puts Gem::Specification.load("crs-slack-client.gemspec").version')" -m "Release version"
          git push origin --tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}